body{
  background-color: blueviolet;
}

.empezar{
  background: rgb(179, 12, 40);
  color: white;
  background-color: rgb(179, 12, 40);
  border-radius: 45px 45px 45px 45px;
  padding: 10px 20px;
  font-weight: 700;
  margin-left: 45%;
  border: none;
  margin-top: 3px;
}

.empezar:hover{
  background: #e63256;
  color: rgb(255, 255, 255);
  background-color: #e63256;
  border-radius: 45px 45px 45px 45px;
}

.boton-redondo{
  display: inline-block;
  padding: 1.5em 1.5em;
  background: rgb(154, 182, 162);
  color: rgb(0, 0, 0);
  border-radius: 2em;
  border:none;
  outline: 2px solid rgb(154, 182, 162);
  outline-offset: 3px;
  margin-left: 10px;
  margin-top: 55px;
}

.boton-redondo:hover{
  background: rgb(82, 112, 91);
  color: rgb(255, 255, 255);
}

.boton-centro{
  background: rgb(179, 12, 40);
  color: white;
  background-color: rgb(179, 12, 40);
  border-radius: 45px 45px 45px 45px;
  padding: 8px 10px;
  font-weight: 700;
  border: none;
  position: absolute;
}

.boton-centro:hover{
  background: #e63256;
  color: rgb(255, 255, 255);
  background-color: #e63256;
  border-radius: 45px 45px 45px 45px;
}

.superior{
  display: flex;
  justify-content: space-around;
}

.centro{
  display: flex;
  justify-content: center;
}

.pila {
  display: flex;
  margin-right: 10px;
}

.mazo1{
  display: flex;
  justify-content:  space-around;
}

.mazo2{
  display: flex;
}

.inferior{
  display: flex;
  justify-content: space-around;
}

.espacio-carta-central{
  border: 2px solid white;
  width: 97px;
  height: 149 px;
  margin: 10px;
  position: relative;
  border-radius: 5px;
}

.espacio-carta{
  border: 2px solid white;
  width: 101px;
  height: 149 px;
  margin: 10px;
  position: relative;
  border-radius: 5px;
}

.carta{
  position: absolute;
  border: 1px solid red;
  border-radius: 7px;
  height: 153px;
}

.carta-mazo{
  position: relative;
  height: 151px;
  z-index: 1;
}

.pila-central{
  position: absolute;
}

.sobreponer{
  position: absolute;
}

.espacio-parejas{
  border: 2px solid rgb(154, 182, 162);
  width: 97px;
  margin: 10px;
  position: absolute; 
  border-radius: 5px;
  margin-top: 10%;
}

.espacio-nombre-empate{
  align-content: center;
  width: 600px;
  height: 40px;
  text-align: center;
  margin-left: 22%;
}

.nombres{
  font-family: Verdana;
  color: white;
  position: absolute;
  margin-left: 7.3%; 
}

.texto{
  font-family: Verdana;
  color: rgb(39, 39, 39);
}

.texto-sweet{
  font-family: Verdana;
  color: rgb(51, 50, 50);
  font-size:5px;
}

.swal2-title {
  font-family: Verdana;
  font-style: bold;
}

.swal2-popup {
  font-size: 1rem !important;
  font-family: Verdana;
}

.celda{
  width: 150px;
  height: 40px;
  margin-right: -1px;
  position: relative;
  text-align: center;
  padding-bottom: 10;
  padding-top: 20px;
  background-color: #ffffff;
  font-family: Verdana;
  border-bottom: 2px solid #19616F;
}

.columna{
  display: flex;
  justify-content:center ;
}

.encabezado-tabla{
  width: 150px;
  height: 40px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
  background-color: #19616F;
  font-family: Verdana;
  color:#ffffff;
  display: flex;
  justify-content:center ;
}

.espaciado{
  margin-top: 8px;
}